@model Insurance.Models.CascoPolicy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CascoPolicy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chassis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chassis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policy.PolicyNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
