@model Insurance.Models.TravelPolicy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TravelPolicy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insured.EMBG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policy.PolicyNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
